
#body {
    -fx-background-color: thistle;
}

#colors-bg{
    -fx-background-image: url("CityBackground.png");
}

.h1{
    -fx-font: 20px Verdana;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.3), 10, 0.7, 0.0, 0.0);
}
.h1-dark{
    -fx-fill: black;
}

.h2{
    -fx-font: 14px Verdana;
    -fx-fill: black;
    -fx-font-weight: bold;
}

.btn{
    -fx-background-color: ivory ;
    -fx-min-width: 200;
    -fx-font: 20px -apple-system;
    -fx-text-fill: black;
    -fx-border-color:black;
    -fx-border-width: 2 2 2 2 ;
}

.btn:hover {
    -fx-background-color: cornflowerblue  ;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn-wide {
    -fx-min-width: 500;
    -fx-font: 18px -apple-system;
}

.start-btn:hover {
    -fx-background-color: forestgreen ;
}

.exit-btn:hover {
    -fx-background-color: crimson ;
}