
#normal-background {
    -fx-background-color: #96bae4;
}


.title-text{
    -fx-font: 20px Verdana;
    -fx-fill: #0c0c0c;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.3), 10, 0.7, 0.0, 0.0);
}


.btn{
    -fx-min-width: 200;
    -fx-font: 20px -apple-system;
    -fx-text-fill: black;
    -fx-border-color:black;
    -fx-border-width: 2 2 2 2 ;
}

.btn-wide {
    -fx-min-width: 500;
    -fx-font: 18px -apple-system;
}

.btn:hover {
    -fx-background-color: dodgerblue ;
    -fx-font-weight: bold;
}

.start-btn:hover {
    -fx-background-color: lawngreen ;
}

.exit-btn:hover {
    -fx-background-color: red;
}