
#normal-background {
    -fx-background-color: #96bae4;
}


.title-text{
    -fx-font: 20px Verdana;
    -fx-fill: black;
    -fx-font-weight: bold;
}

.btn{
    -fx-border-color:black;
    -fx-border-width: 2 2 2 2 ;
}


.start-btn:hover {
    -fx-background-color: lawngreen ;
}
.start-btn:hover .text{
    -fx-text-fill: snow;
}


.exit-btn:hover {
    -fx-background-color: red;
    -fx-text-fill: snow;
}